#hero {
  background: url('../img/BizzControl/bizzcontrol\ background.png');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position:center right !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content-bizzcontrol {
  position: relative;
  /* top:20%; */
}

.hex:hover{
  scale: 1.1;
}
.sol-card{
  border-radius: 1rem;
  background: var(--white);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.10);
  padding: 2rem;
  height: 100%;
}

.sol-card:hover{
  scale: 1.05;
}

.row-hex2{
  margin-top: -15rem;
}
.row-hex3{
  margin-top:-13rem;
}

@media (max-width:1280px) {
  .row-hex2, .row-hex3{
    margin-top:-18rem ;
  }
}

@media (max-width:1250px){
  
.row-hex2{
  margin-top: -18rem;
}
.row-hex3{
  margin-top:-17rem;
}
}
   
@media (max-width:680px){

  .row-hex2{
    margin-top: 0 !important;
  }

  .row-hex3{
    margin-top: 0;
  }

}


@media(min-width:2100px){
  .hex{
    padding: 12rem 18rem;
  }
}
