#hero {
  background: url('../img/Proclaimz/proclaimz\ background.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position:center !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boxes{
  background: url('../img/Proclaimz/getting\ started\ background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.color-box h4{
  font-weight: var(--medium);
}

.box1{
  background: #FFE68B;
  box-shadow: 0px 1px 10px 1px #0000001A;
  border: 4px solid #FFFFFF;
  border-radius: 2rem;
  padding: 7rem 3rem;
  /* margin-right: 5rem; */
}

.box2{
  background: #A9FFA1;
  box-shadow: 0px 1px 10px 1px #0000001A;
  border: 4px solid #FFFFFF;
  border-radius: 2rem;
  padding: 7rem 3rem;
}

.box3{
  background: #E6CCFF;
  box-shadow: 0px 1px 10px 1px #0000001A;
  border: 4px solid #FFFFFF;
  border-radius: 2rem;
  padding: 7rem 3rem;
}

.border1{
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px dashed #fff;
  border-right: 5px dashed #fff;
  border-radius: 2rem;
  padding: 3rem;
  margin: 1rem;
}

.border2{
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px dashed #fff;
  border-right: 5px dashed #fff;
  border-radius: 2rem;
  padding: 3rem;
  margin: 1rem;
}
.border3{
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px dashed #fff;
  border-right: 5px dashed #fff;
  border-radius: 2rem;
  padding: 3rem;
  margin: 1rem;
}

.test-contain img{
  /* border-radius: 50%; */
}
.test-contain {
  padding-left: 3rem;
  padding-right: 10rem !important;
  padding-bottom: 10rem !important;
  padding-top: 10rem; 
}

.award-section{
  background: url('../img/Home/testi\ back2.png') !important;
  background-repeat: no-repeat !important;
  background-position: auto 100% !important;
  background-size: contain !important;
  padding:5rem 2rem !important;
}

#effic .row h5, #security .row h5{
  font-size: 2rem;
  font-weight: var(--bold);
  line-height: 2.4rem;
  color:var(--black);
}

.lists li {
  margin:2rem;
}

.content{
  padding: 0rem 5rem;
}

#security{
  background: #65221A0D;
  background-image: url('../img/Proclaimz/security\ background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

#ready{
  background: url('../img/Proclaimz/ready\ background.png');
  background-position: center;
  background-size: cover;
}

@media (max-width:1250px){
  .test-contain{
    padding-bottom: 11rem !important;
    }

    .hex {
      padding: 12rem 6rem !important;
    }
}

@media(max-width:680px){
  
  .effic-row{
    flex-direction: column-reverse;
  }

  .test-contain{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
    padding-top: 16rem;
    background-size: cover;
  }
  
.award-section{
  background-size: cover !important;
  padding: 10rem !important;
}
}