#hero {
  background: url('../img/Zylemini/zylemini\ background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center right;
  height: 100vh;
}
.banner-content-zylemini {
  position: relative;
  top:20%;
}

.row-hex2{
  margin-top:-18rem !important;
}
.row-hex3{
  margin-top:-20rem;
}

#why{
  background: url('../img/Zylemini/image\ 20.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center right;
}

/* #why .row .col-md-6{
  width: 30%;
 } */


 @media (max-width:1250px){
  .row-hex2{
    margin-top: -18rem !important;
  }

  .row-hex3{
    margin-top: -18rem !important;
  }
 }
 
@media (max-width:680px){


  .row-hex2{
    margin-top: 0 !important;
  }

  .row-hex3{
    margin-top: 0;
  }

  #why .hex p{
    padding: 2rem;
  }
}